[BUG] KeyError: 'Stateful tests' When Generating JUnit Report Containing Failures

### Checklist

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)
- [x] I am using the latest version of Schemathesis

### Describe the bug

Using the latest alpha release (v4.0.0-alpha.9), Schemathesis is unable to complete Stateful testing and terminates early when attempting to create a JUnit report when there were test failures included in the results from an earlier phase. 

### To Reproduce

🚨 **Mandatory** 🚨: Steps to reproduce the behavior:

1. Update API docs to ensure there will be at least one test failure in one of the phases _before Stateful testing_
2. Run command `schemathesis run --url={url} {api_doc_path} --checks all --report=junit --report-dir api-tests-report`
3. See error below:
```
Internal Error

Schemathesis encountered an unexpected issue.

Traceback (most recent call last):
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/schemathesis/cli/commands/run/executor.py", line 152, in _execute
    handler.handle_event(ctx, event)
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/schemathesis/cli/commands/run/handlers/junitxml.py", line 27, in handle_event
    add_failure(test_case, ctx.statistic.failures[label].values(), ctx)
                           ~~~~~~~~~~~~~~~~~~~~~~^^^^^^^
KeyError: 'Stateful tests'

We apologize for the inconvenience. This appears to be an internal issue.
Please consider reporting this error to our issue tracker:

  https://github.com/schemathesis/schemathesis/issues/new?labels=Status%3A%20Needs%20Triage%2C+Type%3A+Bug&template=bug_report.md&title=%5BBUG%5D.
Traceback (most recent call last):
  File "/Users/{user_name}/{repo_name}/.venv/bin/schemathesis", line 8, in <module>
    sys.exit(schemathesis())
             ^^^^^^^^^^^^^^
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/click/core.py", line 1161, in __call__
    return self.main(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/click/core.py", line 1082, in main
    rv = self.invoke(ctx)
         ^^^^^^^^^^^^^^^^
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/click/core.py", line 1697, in invoke
    return _process_result(sub_ctx.command.invoke(sub_ctx))
                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/click/core.py", line 1443, in invoke
    return ctx.invoke(self.callback, **ctx.params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/click/core.py", line 788, in invoke
    return __callback(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/click/decorators.py", line 33, in new_func
    return f(get_current_context(), *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/schemathesis/cli/commands/run/__init__.py", line 698, in run
    executor.execute(config)
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/schemathesis/cli/commands/run/executor.py", line 54, in execute
    _execute(event_stream, config)
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/schemathesis/cli/commands/run/executor.py", line 152, in _execute
    handler.handle_event(ctx, event)
  File "/Users/{user_name}/{repo_name}/.venv/lib/python3.12/site-packages/schemathesis/cli/commands/run/handlers/junitxml.py", line 27, in handle_event
    add_failure(test_case, ctx.statistic.failures[label].values(), ctx)
                           ~~~~~~~~~~~~~~~~~~~~~~^^^^^^^
KeyError: 'Stateful tests'
```

- The reproduction passes and produces the following when removing `--report=junit --report-dir api-tests-report`:
```
API Operations:
  Selected: 6/6
  Tested: 6

Test Phases:
  ✅ API probing
  ❌ Examples
  ❌ Coverage
  ❌ Fuzzing
  ❌ Stateful

Failures:
  ❌ Response violates schema: 3
  ❌ JSON deserialization error: 1
  ❌ Missing Content-Type header: 1
  ❌ Rejected positive data: 1
  ❌ Undocumented Content-Type: 3

Warnings:
  ⚠️ Schemathesis configuration: 2 operations returned only 4xx responses during unit tests

Test cases:
  849 generated, 4 found 9 unique failures

Seed: 53262357201450781443495291375600115798
```


Please include a minimal API schema causing this issue:
```yml
openapi: 3.1.0
info:
  title: Replace Me API
  description: >
    A starter specification for your API.
  version: 0.1.0
servers:
- url: "{scheme}://{host}:{port}"
  description: Development URL
  variables:
    scheme:
      default: http
    port:
      default: '8888'
    host:
      default: 'localhost'
  # noinspection YAMLSchemaValidation
  x-environments:
  - development
  - testing

paths:
  /v1/botw/demos:
    get:
      operationId: DemosRootView.get
      description: >
        Fetch a paginated list of Demos.
      parameters:
      - $ref: '#/components/parameters/QueryPagination'
      - $ref: '#/components/parameters/QueryOrder'
      - $ref: '#/components/parameters/QueryDemos'
      responses:
        '200':
          $ref: '#/components/responses/ListDemosResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
        default:
          $ref: '#/components/responses/HTTPErrorResponse'
    post:
      operationId: DemosRootView.post
      description: >
        Create a single Demo entity.
      requestBody:
        $ref: '#/components/requestBodies/DemoBody'
      responses:
        '200':
          $ref: '#/components/responses/DemoResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
        default:
          $ref: '#/components/responses/HTTPErrorResponse'
  /v1/botw/demos/{id}:
    get:
      operationId: DemosEntityView.get
      description: >
        Fetch a single Demo entity.
      parameters:
      - $ref: '#/components/parameters/PathID'
      responses:
        '200':
          $ref: '#/components/responses/DemoResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
        default:
          $ref: '#/components/responses/HTTPErrorResponse'
    put:
      operationId: DemosEntityView.put
      description: >
        Update a single Demo entity (idempotent).
      parameters:
      - $ref: '#/components/parameters/PathID'
      requestBody:
        $ref: '#/components/requestBodies/DemoBody'
      responses:
        '200':
          $ref: '#/components/responses/DemoResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
        default:
          $ref: '#/components/responses/HTTPErrorResponse'
    delete:
      operationId: DemosEntityView.delete
      description: >
        Delete a single Demo entity.
      parameters:
      - $ref: '#/components/parameters/PathID'
      responses:
        '204':
          description: The entity was successfully deleted.
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
        default:
          $ref: '#/components/responses/HTTPErrorResponse'
  /v1/botw/demos/search:
    post:
      operationId: DemosSearchView.post
      description: >
        Fetch a paginated list of Demos matching the given filter using keyset pagination.
      requestBody:
        $ref: '#/components/requestBodies/SearchDemosBody'
      responses:
        '200':
          $ref: '#/components/responses/SearchDemosResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
        default:
          $ref: '#/components/responses/HTTPErrorResponse'
components:
  parameters:
    PathID:
      name: id
      in: path
      required: true
      description: >
        The Unique Identifier (UUID) of the associated resource.
      schema:
        $ref: '#/components/schemas/UniqueIdentifier'
    QueryPagination:
      name: range
      in: query
      required: false
      description: The [startIndex, endIndex] for pagination.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Range'
    QueryOrder:
      name: sort
      in: query
      description: >
        How to sort the results, represented as [orderBy, orderDirection].
        `orderBy` is the field to sort by, and `orderDirection` is either "ASC" or "DESC".
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Order'
    QueryDemos:
      name: filter
      in: query
      description: >
        The supported filters for querying Demos.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DemoFilter'
  requestBodies:
    DemoBody:
      description: Request payload for managing a Demo entity.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Demo'
    SearchDemosBody:
      description: Request payload for initiating a Demo search.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchDemosQuery'
  responses:
    HTTPErrorResponse:
      description: An RFC-7807 compliant error response.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTPProblem'
        text/plain:
          schema:
            type: string
            description: >
              In certain extreme circumstances, the server may respond with a plaintext
              error.

              This usually means the server refused to process the incoming request,
              likely because the payload was too large, improperly encoded, or violated
              a WAF rule.
    ValidationErrorResponse:
      description: Validation error response
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ValidationError'
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    EmptyResponse:
      description: Response without data.
    ListDemosResponse:
      description: Response body for a successful list operation.
      headers:
        Content-Range:
          schema:
            $ref: '#/components/schemas/ContentRange'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Demo'
    DemoResponse:
      description: Response body for a successful entity lookup.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Demo'
      links:
        getDemo:
          operationId: DemosEntityView.get
          parameters:
            id: '$response.body#/id'
        deleteDemo:
          operationId: DemosEntityView.delete
          parameters:
            id: '$response.body#/id'
        putDemo:
          operationId: DemosEntityView.put
          parameters:
            id: '$response.body#/id'
          requestBody:
            id: '$response.body#/id'
    SearchDemosResponse:
      description: Response body for a successful search operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchDemosResponseBody'
      links:
        getNextDemoPage:
          operationId: DemosSearchView.post
          requestBody:
            cursor: '$response.body#/next'
  schemas:
    Range:
      description: >
        A tuple of integers representing an inclusive range.

        Note:
          - The expectation is `Range.left < Range.right`.
          - `Range.left == Range.right` will result in zero items.
          - The behavior for `Range.left > Range.right` is undefined.
      type: array
      prefixItems:
      - $ref: '#/components/schemas/PositiveInteger'
      - $ref: '#/components/schemas/PositiveInteger'
      minItems: 2
      maxItems: 2
      additionalItems: false
      default:
      - 0
      - 49
      items:
        $ref: '#/components/schemas/PositiveInteger'
    Order:
      type: array
      prefixItems:
      - $ref: '#/components/schemas/OrderField'
      - $ref: '#/components/schemas/OrderDirection'
      minItems: 2
      maxItems: 2
      additionalItems: false
      default:
      - created_at
      - ASC
    OrderField:
      description: >
        The field on the target resource by which to sort results.
      allOf:
      - $ref: '#/components/schemas/NonEmptyString'
      default: created_at
    OrderDirection:
      description: >
        The direction to sort the results of the query.
      type: string
      enum:
      - ASC
      - DESC
      default: ASC
    ContentRange:
      description: >
        The formatted content-range header for list operations.
      type: string
      pattern: '^\d+-\d+\/\d+$'
    HTTPProblem:
      type: object
      description: An RFC-7807 compliant error.
      example:
        detail: The indicated resource could not be found.
        title: Not Found
        status: 404
      properties:
        detail:
          type: string
        title:
          type: string
        status:
          type: integer
        type:
          type: string
          format: uri-reference
        instance:
          type: string
          format: uri-reference
      required:
      - detail
      - title
      - status
    ValidationError:
      description: >-
        An [RFC 9457](https://datatracker.ietf.org/doc/html/rfc9457)-compliant error
        message,
        extended to include additional validation error details for the client.
      type: object
      allOf:
      - $ref: '#/components/schemas/HTTPProblem'
      - type: object
        properties:
          error_detail:
            $ref: '#/components/schemas/ValidationErrors'
    ValidationErrors:
      description: >-
        An array of error details which indicate the specific failure message and
        location.
      type: array
      items:
        $ref: '#/components/schemas/ValidationErrorItem'
      minItems: 1
      uniqueItems: true
    ValidationErrorItem:
      description: >-
        An entry in the `ValidationErrors` array which provides the message and
        location (as a JSON pointer query) of the entity or field which failed validation.
      type: object
      properties:
        loc:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/PositiveInteger'
            - $ref: '#/components/schemas/NonEmptyString'
        message:
          $ref: '#/components/schemas/NonEmptyString'
    NonEmptyString:
      description: >-
        A string value which *must* have at least one character.
      type: string
      minLength: 1
    OptionalString:
      description: >-
        An "optional" (e.g., _nullable_) NonEmptyString
      oneOf:
      - type: 'null'
      - $ref: '#/components/schemas/NonEmptyString'
    IntegerID:
      type: integer
      format: int64
      minimum: 1
      description: >-
        A machined-generated, resource-unique identifier for the indicated resource.
    PositiveInteger:
      description: >-
        An integer with a minimum value of `0`.
      type: integer
      format: int64
      minimum: 0
    OptionalIntegerID:
      description: >-
        An "optional" (e.g., _nullable_) IntegerID
      oneOf:
      - $ref: '#/components/schemas/IntegerID'
      - type: 'null'
    EntityID:
      description: Read-only unique identifier.
      readOnly: true
      allOf:
      - $ref: '#/components/schemas/UniqueIdentifier'
    UniqueIdentifier:
      type: string
      format: uuid
      description: >-
        A machine-generated, globally-unique identifier for the indicated resource.
    OptionalUniqueIdentifier:
      oneOf:
      - $ref: '#/components/schemas/UniqueIdentifier'
      - type: 'null'
    UniqueIdentifierList:
      description: >
        An array of unique identifiers, used for 1:Many references and list operations.
      type: array
      minItems: 1
      uniqueItems: true
      items:
        $ref: '#/components/schemas/UniqueIdentifier'
    IntegerString:
      type: string
      format: integer
      description: >-
        A machined-generated, resource-unique identifier for the indicated resource.
        Used to work around client-side precision limits when values may be greater
        than 64-bits.
    OptionalIntegerString:
      description: >-
        An "optional" (e.g., _nullable_) IntegerString
      oneOf:
      - $ref: '#/components/schemas/IntegerString'
      - type: 'null'
    Date:
      type: string
      format: date
      description: >
        An [RFC-3329](https://datatracker.ietf.org/doc/html/rfc3339)-compliant date
        string.
    DateTime:
      type: string
      format: date-time
      description: >
        An [RFC-3329](https://datatracker.ietf.org/doc/html/rfc3339)-compliant date-time
        string.
    Timestamp:
      type: string
      format: date-time
      readOnly: true
      description: >-
        A read-only, machine-generated,
        [RFC-3329](https://datatracker.ietf.org/doc/html/rfc3339)-compliant date string.
    FileName:
      type: string
      format: file-name
      pattern: '(?P<stem>(?:\w|\d)+(?:\w|\d|[.-])*)(?P<suffix>\.[a-zA-Z]{1,10})'
      description: >
        A uri-compatible file name, with no spaces or special characters.
      example: demo-callout-v1.txt
    Tag:
      type: string
      description: >
        A short, non-empty string used for categorization.
      minLength: 1
      maxLength: 40
      examples:
      - "super interesting"
      - "super boring"
    Tags:
      type: array
      uniqueItems: true
      descriptions: >-
        A list of short, non-empty strings used to categorize an entity.
      items:
        $ref: '#/components/schemas/Tag'
    QueryLimit:
      type: integer
      description: >-
        The maximum number of results to return from a list or search operation.
      minimum: 0
      default: 50
    DemoFilter:
      description: >
        The supported filters for any query operations on the Demos resource.
      properties:
        ids:
          type: array
          items:
            $ref: '#/components/schemas/UniqueIdentifier'
        start_date:
          $ref: '#/components/schemas/Date'
        end_date:
          $ref: '#/components/schemas/Date'
        file_name:
          $ref: '#/components/schemas/FileName'
        is_ready:
          type: boolean
        version:
          $ref: '#/components/schemas/PositiveInteger'
        tags:
          $ref: '#/components/schemas/Tags'
    SearchDemosQuery:
      type: object
      description: >
        The supported input for a Demo search operation.
      properties:
        order:
          $ref: '#/components/schemas/SearchOrder'
        cursor:
          $ref: '#/components/schemas/UniqueIdentifier'
        limit:
          $ref: '#/components/schemas/QueryLimit'
        start_date:
          $ref: '#/components/schemas/Date'
        end_date:
          $ref: '#/components/schemas/Date'
        file_name:
          $ref: '#/components/schemas/FileName'
        is_ready:
          type: boolean
        version:
          $ref: '#/components/schemas/PositiveInteger'
        tags:
          $ref: '#/components/schemas/Tags'
    SearchOrder:
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/OrderDirection'
        field:
          $ref: '#/components/schemas/OrderField'
    Demo:
      description: >
        A data-model definition for a Demonstration.
      type: object
      unevaluatedProperties: false
      properties:
        id:
          $ref: '#/components/schemas/EntityID'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        start_date:
          $ref: '#/components/schemas/Date'
        end_date:
          $ref: '#/components/schemas/Date'
        file_name:
          $ref: '#/components/schemas/FileName'
        is_ready:
          type: boolean
          default: false
        version:
          default: 0
          allOf:
          - $ref: '#/components/schemas/PositiveInteger'
        tags:
          $ref: '#/components/schemas/Tags'
      required:
      - start_date
      - end_date
      - file_name
    SearchDemosResponseBody:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/OptionalUniqueIdentifier'
        entities:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Demo'
      required:
      - next
      - entities
```

### Expected behavior

Schemathesis is able to finish running and produce a JUnit report successfully that includes test failures.

### Environment

```
- OS: MacOS Sequioa 15.3.2
- Python version: 3.12
- Schemathesis version: 4.0.0-alpha.9
- Hypothesis version: 6.131.10
- Spec version: Open API 3.1.0
```

### Additional context

I was able to get the tests working successfully by doing any of the following:
- Removing the `--report=junit --report-dir api-tests-report` options, no longer creating a JUnit report
- Removing the `--checks all ` option, resulting in a 100% success rate for the tests

Btw, thank you for such a detailed report - really appreciate it

Released in v4.0.0-alpha.10 :) Feel free to reach out if something does not work as you expect

Thanks so much for the quick turnaround, much appreciated!