[BUG] Reproduction curls cannot properly escape JSON encoded query parameters

### Checklist

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq/) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)
- [x] I am using the latest version of Schemathesis

### Describe the bug

The `Reproduce with:` curls generated during failure minimization are facing issues for JSON encoded query parameters, resulting in long and indecipherable reproduction commands.

### To Reproduce

🚨 **Mandatory** 🚨: Steps to reproduce the behavior:

1. Use the API schema provided
2. Run the command `schemathesis run {schema_path} --url={url} --checks all --continue-on-failure`
3. See error below

Please include a minimal API schema causing this issue:

```yaml
openapi: 3.1.0
info:
  title: Replace Me API
  description: >
    A starter specification for your API.
  version: 0.1.0
servers:
- url: "{scheme}://{host}:{port}"
  description: Development URL
  variables:
    scheme:
      default: http
    port:
      default: '8888'
    host:
      default: 'localhost'
  # noinspection YAMLSchemaValidation
  x-environments:
  - development
  - testing

paths:
  /v1/botw/demos:
    get:
      operationId: DemosRootView.get
      description: >
        Fetch a paginated list of Demos.
      parameters:
      - $ref: '#/components/parameters/QueryPagination'
      - $ref: '#/components/parameters/QueryOrder'
      - $ref: '#/components/parameters/QueryDemos'
      responses:
        '200':
          $ref: '#/components/responses/ListDemosResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
        default:
          $ref: '#/components/responses/HTTPErrorResponse'
    post:
      operationId: DemosRootView.post
      description: >
        Create a single Demo entity.
      requestBody:
        $ref: '#/components/requestBodies/DemoBody'
      responses:
        '200':
          $ref: '#/components/responses/DemoResponse'
        '422':
          $ref: '#/components/responses/ValidationErrorResponse'
        default:
          $ref: '#/components/responses/HTTPErrorResponse'
components:
  parameters:
    PathID:
      name: id
      in: path
      required: true
      description: >
        The Unique Identifier (UUID) of the associated resource.
      schema:
        $ref: '#/components/schemas/UniqueIdentifier'
    QueryPagination:
      name: range
      in: query
      required: false
      description: The [startIndex, endIndex] for pagination.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Range'
    QueryOrder:
      name: sort
      in: query
      description: >
        How to sort the results, represented as [orderBy, orderDirection].
        `orderBy` is the field to sort by, and `orderDirection` is either "ASC" or "DESC".
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Order'
    QueryDemos:
      name: filter
      in: query
      description: >
        The supported filters for querying Demos.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DemoFilter'
  requestBodies:
    DemoBody:
      description: Request payload for managing a Demo entity.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Demo'
    SearchDemosBody:
      description: Request payload for initiating a Demo search.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchDemosQuery'
  responses:
    HTTPErrorResponse:
      description: An RFC-7807 compliant error response.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTPProblem'
        text/plain:
          schema:
            type: string
            description: >
              In certain extreme circumstances, the server may respond with a plaintext
              error.

              This usually means the server refused to process the incoming request,
              likely because the payload was too large, improperly encoded, or violated
              a WAF rule.
    ValidationErrorResponse:
      description: Validation error response
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ValidationError'
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    EmptyResponse:
      description: Response without data.
    ListDemosResponse:
      description: Response body for a successful list operation.
      headers:
        Content-Range:
          schema:
            $ref: '#/components/schemas/ContentRange'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Demo'
    DemoResponse:
      description: Response body for a successful entity lookup.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Demo'
      links:
        getDemo:
          operationId: DemosEntityView.get
          parameters:
            id: '$response.body#/id'
        deleteDemo:
          operationId: DemosEntityView.delete
          parameters:
            id: '$response.body#/id'
        putDemo:
          operationId: DemosEntityView.put
          parameters:
            id: '$response.body#/id'
          requestBody:
            id: '$response.body#/id'
    SearchDemosResponse:
      description: Response body for a successful search operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchDemosResponseBody'
      links:
        getNextDemoPage:
          operationId: DemosSearchView.post
          requestBody:
            cursor: '$response.body#/next'
  schemas:
    Range:
      description: >
        A tuple of integers representing an inclusive range.

        Note:
          - The expectation is `Range.left < Range.right`.
          - `Range.left == Range.right` will result in zero items.
          - The behavior for `Range.left > Range.right` is undefined.
      type: array
      prefixItems:
      - $ref: '#/components/schemas/PositiveInteger'
      - $ref: '#/components/schemas/PositiveInteger'
      minItems: 2
      maxItems: 2
      additionalItems: false
      default:
      - 0
      - 49
      items:
        $ref: '#/components/schemas/PositiveInteger'
    Order:
      type: array
      prefixItems:
      - $ref: '#/components/schemas/OrderField'
      - $ref: '#/components/schemas/OrderDirection'
      minItems: 2
      maxItems: 2
      additionalItems: false
      default:
      - created_at
      - ASC
    OrderField:
      description: >
        The field on the target resource by which to sort results.
      allOf:
      - $ref: '#/components/schemas/NonEmptyString'
      default: created_at
    OrderDirection:
      description: >
        The direction to sort the results of the query.
      type: string
      enum:
      - ASC
      - DESC
      default: ASC
    ContentRange:
      description: >
        The formatted content-range header for list operations.
      type: string
      pattern: '^\d+-\d+\/\d+$'
    HTTPProblem:
      type: object
      description: An RFC-7807 compliant error.
      example:
        detail: The indicated resource could not be found.
        title: Not Found
        status: 404
      properties:
        detail:
          type: string
        title:
          type: string
        status:
          type: integer
        type:
          type: string
          format: uri-reference
        instance:
          type: string
          format: uri-reference
      required:
      - detail
      - title
      - status
    ValidationError:
      description: >-
        An [RFC 9457](https://datatracker.ietf.org/doc/html/rfc9457)-compliant error
        message,
        extended to include additional validation error details for the client.
      type: object
      allOf:
      - $ref: '#/components/schemas/HTTPProblem'
      - type: object
        properties:
          error_detail:
            $ref: '#/components/schemas/ValidationErrors'
    ValidationErrors:
      description: >-
        An array of error details which indicate the specific failure message and
        location.
      type: array
      items:
        $ref: '#/components/schemas/ValidationErrorItem'
      minItems: 1
      uniqueItems: true
    ValidationErrorItem:
      description: >-
        An entry in the `ValidationErrors` array which provides the message and
        location (as a JSON pointer query) of the entity or field which failed validation.
      type: object
      properties:
        loc:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/PositiveInteger'
            - $ref: '#/components/schemas/NonEmptyString'
        message:
          $ref: '#/components/schemas/NonEmptyString'
    NonEmptyString:
      description: >-
        A string value which *must* have at least one character.
      type: string
      minLength: 1
    OptionalString:
      description: >-
        An "optional" (e.g., _nullable_) NonEmptyString
      oneOf:
      - type: 'null'
      - $ref: '#/components/schemas/NonEmptyString'
    IntegerID:
      type: integer
      format: int64
      minimum: 1
      description: >-
        A machined-generated, resource-unique identifier for the indicated resource.
    PositiveInteger:
      description: >-
        An integer with a minimum value of `0`.
      type: integer
      format: int64
      minimum: 0
    OptionalIntegerID:
      description: >-
        An "optional" (e.g., _nullable_) IntegerID
      oneOf:
      - $ref: '#/components/schemas/IntegerID'
      - type: 'null'
    EntityID:
      description: Read-only unique identifier.
      readOnly: true
      allOf:
      - $ref: '#/components/schemas/UniqueIdentifier'
    UniqueIdentifier:
      type: string
      format: uuid
      description: >-
        A machine-generated, globally-unique identifier for the indicated resource.
    OptionalUniqueIdentifier:
      oneOf:
      - $ref: '#/components/schemas/UniqueIdentifier'
      - type: 'null'
    UniqueIdentifierList:
      description: >
        An array of unique identifiers, used for 1:Many references and list operations.
      type: array
      minItems: 1
      uniqueItems: true
      items:
        $ref: '#/components/schemas/UniqueIdentifier'
    IntegerString:
      type: string
      format: integer
      description: >-
        A machined-generated, resource-unique identifier for the indicated resource.
        Used to work around client-side precision limits when values may be greater
        than 64-bits.
    OptionalIntegerString:
      description: >-
        An "optional" (e.g., _nullable_) IntegerString
      oneOf:
      - $ref: '#/components/schemas/IntegerString'
      - type: 'null'
    Date:
      type: string
      format: date
      description: >
        An [RFC-3329](https://datatracker.ietf.org/doc/html/rfc3339)-compliant date
        string.
    DateTime:
      type: string
      format: date-time
      description: >
        An [RFC-3329](https://datatracker.ietf.org/doc/html/rfc3339)-compliant date-time
        string.
    Timestamp:
      type: string
      format: date-time
      readOnly: true
      description: >-
        A read-only, machine-generated,
        [RFC-3329](https://datatracker.ietf.org/doc/html/rfc3339)-compliant date string.
    FileName:
      type: string
      format: file-name
      pattern: '(?P<stem>(?:\w|\d)+(?:\w|\d|[.-])*)(?P<suffix>\.[a-zA-Z]{1,10})'
      description: >
        A uri-compatible file name, with no spaces or special characters.
      example: demo-callout-v1.txt
    Tag:
      type: string
      description: >
        A short, non-empty string used for categorization.
      minLength: 1
      maxLength: 40
      examples:
      - "super interesting"
      - "super boring"
    Tags:
      type: array
      uniqueItems: true
      descriptions: >-
        A list of short, non-empty strings used to categorize an entity.
      items:
        $ref: '#/components/schemas/Tag'
    QueryLimit:
      type: integer
      description: >-
        The maximum number of results to return from a list or search operation.
      minimum: 0
      default: 50
    DemoFilter:
      description: >
        The supported filters for any query operations on the Demos resource.
      properties:
        ids:
          type: array
          items:
            $ref: '#/components/schemas/UniqueIdentifier'
        start_date:
          $ref: '#/components/schemas/Date'
        end_date:
          $ref: '#/components/schemas/Date'
        file_name:
          $ref: '#/components/schemas/FileName'
        is_ready:
          type: boolean
        version:
          $ref: '#/components/schemas/PositiveInteger'
        tags:
          $ref: '#/components/schemas/Tags'
    SearchDemosQuery:
      type: object
      description: >
        The supported input for a Demo search operation.
      properties:
        order:
          $ref: '#/components/schemas/SearchOrder'
        cursor:
          $ref: '#/components/schemas/UniqueIdentifier'
        limit:
          $ref: '#/components/schemas/QueryLimit'
        start_date:
          $ref: '#/components/schemas/Date'
        end_date:
          $ref: '#/components/schemas/Date'
        file_name:
          $ref: '#/components/schemas/FileName'
        is_ready:
          type: boolean
        version:
          $ref: '#/components/schemas/PositiveInteger'
        tags:
          $ref: '#/components/schemas/Tags'
    SearchOrder:
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/OrderDirection'
        field:
          $ref: '#/components/schemas/OrderField'
    Demo:
      description: >
        A data-model definition for a Demonstration.
      type: object
      unevaluatedProperties: false
      properties:
        id:
          $ref: '#/components/schemas/EntityID'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        start_date:
          $ref: '#/components/schemas/Date'
        end_date:
          $ref: '#/components/schemas/Date'
        file_name:
          $ref: '#/components/schemas/FileName'
        is_ready:
          type: boolean
          default: false
        version:
          default: 0
          allOf:
          - $ref: '#/components/schemas/PositiveInteger'
        tags:
          $ref: '#/components/schemas/Tags'
      required:
      - start_date
      - end_date
      - file_name
    SearchDemosResponseBody:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/OptionalUniqueIdentifier'
        entities:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Demo'
      required:
      - next
      - entities
```

When tested, these paths produce the following output for reproduction:

```
______________________________ GET /v1/botw/demos ______________________________
1. Test Case ID: jEuKvi

- Unsupported method incorrect response

    Missing Allow header for unsupported method TRACE

[405] Method Not Allowed:

    <EMPTY>

Reproduce with: 

    curl -X TRACE 'http://localhost:4443/v1/botw/demos?range=%22%5C%22%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%5B0%2C+49%5D%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%22%5C%22%22&sort=%22%5C%22%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%5B%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22created_at%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22ASC%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%5D%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%22%5C%22%22&filter=%22%5C%22%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%7B%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22ids%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5B%5D%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22start_date%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%222000-01-01%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22end_date%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%222000-01-01%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22file_name%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22demo-callout-v1.txt%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22is_ready%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+false%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22version%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+0%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22tags%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5B%5D%7D%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%22%5C%22%22'

2. Test Case ID: feGJFW

- Unsupported method incorrect response

    Wrong status for unsupported method PUT (got 404, expected 405)

[404] Not Found:

    `{"error":{"code":404,"message":"Not Found","errors":[{"domain":"global","reason":"Not Found","message":"Not Found"}]}}`

Reproduce with: 

    curl -X PUT 'http://localhost:4443/v1/botw/demos?range=%22%5C%22%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%5B0%2C+49%5D%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%22%5C%22%22&sort=%22%5C%22%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%5B%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22created_at%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22ASC%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%5D%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%22%5C%22%22&filter=%22%5C%22%5C%5C%5C%22%5C%5C%5C%5C%5C%5C%5C%22%7B%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22ids%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5B%5D%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22start_date%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%222000-01-01%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22end_date%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%222000-01-01%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22file_name%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22demo-callout-v1.txt%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22is_ready%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+false%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22version%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+0%2C+%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22tags%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%5C%22%3A+%5B%5D%7D%5C%5C%5C%5C%5C%5C%5C%22%5C%5C%5C%22%5C%22%22'
```

### Expected behavior

Schemathesis is able to correctly escape the JSON query parameters when converting to URL query parameters

### Environment

```
- OS: MacOS Sequioa 15.5
- Python version: 3.12.10
- Schemathesis version: 4.0.12
- Spec version: Open API 3.1.0
```


Hi @benjmountain

Thank you for opening this issue! What would be the expected output for those generated parameters? It looks like Schemathesis ignores the “content” field for query parameters, hence serialization is broken

@Stranger6667 Sorry, I've been offline for the past few days so I wasn't able to provide more detail - thank you so much for including this fix in the 4.0.15!

@benjmountain 

No worries! Happy to help :)